if TARGET_MX6SODIMM

	config SYS_BOARD
		default "mx6sodimm"
	
	config SYS_VENDOR
		default "saut"
	
	config SYS_CONFIG_NAME
		default "mx6sodimm"
	
	config SYS_TEXT_BASE
	    default 0x17800000

endif
